@import "colors";
@import "navbar";

$breadcrumb-bg: transparent;

@import '../../node_modules/bootstrap/scss/bootstrap';

._block {
	display: block;
}

._inline {
	display: inline-block;
}

.-sharp {
	border-radius: 0;
}

.-paint-muted {
	background: $gray-200;
}

.-frame {
	border: 2px solid theme-color();
	
	&-secondary {
		border-color: theme-color('secondary');
	}
	
	&-accent {
		border-color: theme-color('accent');
	}
}

.-underline {
	text-decoration: underline;
}

.-shadow {
	box-shadow: 10px 10px 0 theme-color();
	
	&-secondary {
		box-shadow: 10px 10px 0 theme-color('secondary');
	}
	
	&-accent {
		box-shadow: 10px 10px 0 theme-color('accent');
	}
}

._rise {
	height: 100%;
}

.breadcrumb-item.active {
	&, &:before {
		color: rgba(black, .35);
	}
}